<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
    <table border="1" cellspacing="0" width="100%">
    	<tr>
    	<th>序列号</th>
    	<th>姓名</th>
    	<th>角色</th>
    	<th colspan="3">操作</th>
    	</tr>
    	{foreach $managerinfo as $k}
    	<tr align="center">
    		<td>{$k.mg_id}</td>
    		<td>{$k.mg_name}</td>
    		{if $k.mg_name==="admin"}
    		<td>超级管理员</td>
    		{else}
    		<td>{$k.mg_role_name}</td>
    		{/if}
    		<td><a href="#">分配权限</a></td>		
    	   <td><a href="#">修改</a></td>		
    	  <td><a href="#">删除</a></td>	
    	</tr>
    	{/foreach}
    </table>
    </body>
</html>